@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif';
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #00e0b3;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a.hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    text-decoration: none;
    color: var(--main-color);
    font-size: 2.2rem;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
/* Media query para pantallas más pequeñas (teléfonos móviles) */
@media (max-width: 768px) {
    
    /* Adaptación de la sección "Acerca de Mí" */
    .about-img img {
        /* Reduce el tamaño de la sombra y la separación */
        box-shadow: 0 0 1.5rem var(--main-color);
        margin: 0; /* Asegura que no haya márgenes no deseados */
    }

    /* Adaptación de los contenedores de servicios */
    .services-container .services-box {
        /* Reduce la sombra en los boxes de servicios */
        box-shadow: 0 0 1rem var(--main-color);
    }
}


/* Estilos para la sección 'Acerca de Mí' (versión de escritorio) */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Espacio entre la imagen y el texto */
     background: var(--second-bg-color);
    border-radius: 2.5rem;
    /* --- ESTOS SON LOS CAMBIOS PARA CENTRAR EL BLOQUE --- */
    max-width: 1200px; /* Limita el ancho del contenido */
    margin: 0 auto; /* Centra el bloque horizontalmente */
    padding: 5rem 9%; /* Añade padding para móviles sin desbordar */
}

.about-img {
     width: 20vw; /* Cambiado a 20vw para que sea más pequeña */
    height: 20vw; /* Asegúrate de que height sea igual a width */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    /*border: .2rem solid var(--main-color);*/
    /*box-shadow: 0 0 1rem var(--main-color);*/
    animation: floatImage 4s ease-in-out infinite;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.5s ease;
}

.about-img img:hover {
    transform: scale(1.1);
}

.about-content {
    flex: 1; /* Permite que el contenido ocupe el espacio restante */
}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 9%;
}
/* ---------------------------------------------------- */
/* Media Query para la sección 'Acerca de Mí' en Móviles */
/* ---------------------------------------------------- */
@media (max-width: 1199px) {
    .about-container {
        padding: 5rem 5%;
        gap: 1.5rem;
    }
}




@media (max-width: 991px) {
    .about-container {
        flex-direction: column-reverse;
        text-align: center;
        padding: 5rem 3%;
        gap: 1.5rem;
    }
    .about-img {
        width: 50vw;
        height: 50vw;
        margin-top: 2rem;
    }
    .about-content h2 {
        font-size: 3.2rem;
        text-align: center;
    }
    .about-content h3 {
        font-size: 2.2rem;
    }
}
@media (max-width: 768px) {
    /* ... otros estilos responsivos ... */

    .about {
        flex-direction: column-reverse; /* Cambia el orden: texto arriba, imagen abajo */
        text-align: center;
        padding-top: 5rem;
    }

    .about-img {
        width: 60vw; /* Reduce el ancho de la imagen */
        height: 60vw;
        margin-bottom: 2rem;
    }
    
    .about-content h2 {
        font-size: 3.5rem;
    }
    
    .about-content h3 {
        font-size: 2.5rem;
    }
    
    .about-content p {
        font-size: 1.6rem;
    }
    
    /* ... otros estilos responsivos ... */
}

/* Media Query para teléfonos muy pequeños */
@media (max-width: 450px) {
    /* ... otros estilos responsivos ... */
    
     .about-container {
        padding: 5rem 2%;
        gap: 1rem;
     }
    .about-img {
        width: 75vw; /* Reduce aún más el ancho de la imagen */
        height: 75vw;
    }
    
    .about-content h2 {
        font-size: 3rem;
    }
    
    .about-content h3 {
        font-size: 2rem;
    }
    
    /* ... otros estilos responsivos ... */
}

/* Para pantallas de hasta 300px (móviles extremadamente pequeños) */
@media (max-width: 300px) {
      html {
        font-size: 35%; /* Reduce aún más el tamaño base de la fuente */
    }
    .about-container {
        padding: 4rem 1%;
        gap: 0.5rem;
    }
    .about-img {
        width: 90vw;
        height: 90vw;
    }
    .about-content h2 {
        font-size: 2.2rem;
    }
    .about-content h3 {
        font-size: 1.6rem;
    }
    .about-content p {
        font-size: 1.4rem;
    }
}


.contenedor-foto {
    width: 35vw; /* Usa vw para que el ancho sea proporcional a la pantalla */
    height: 35vw; /* Usa vw para que la altura sea proporcional a la pantalla */
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem auto; /* Añade un margin para centrarlo y darle espacio */
    border: 1px solid var(--main-color); /* Estilo de borde mejorado */
}

.about-img img,
.contenedor-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-img img {
    width: 35vw;
    border-radius: 50%;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* --- SECCION DE SERVICIOS Y CERTIFICACIONES --- */
.services h2.heading {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4.5rem;
    color: var(--text-color);
}


.services h2.heading span {
    color: var(--main-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.services-box {
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem; /* Ajusta el padding para que se vea mejor */
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: all 0.5s ease;
}

/* Estilo para el ícono */
.services-box i {
    font-size: 5rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
    display: block;
}

/* Estilo para las imágenes de certificaciones */
.services-box img.certification-img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    background-color: var(--bg-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 0.8rem var(--main-color);
    transition: transform 0.5s ease;
}

/* Estilo para el título */
.services-box h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    animation: color-change 5s infinite;
}
/* Estilo para la descripción */
.services-box p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Muestra la descripción al pasar el mouse por encima de la tarjeta */
.services-box:hover p {
    opacity: 1;
    visibility: visible;
}

.services-box .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: .8rem;
    font-weight: 600;
    transition: background 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.services-box .btn:hover {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.services-box:hover {
    border-color: var(--main-color);
    transform: translateY(-1rem);
    box-shadow: 0 0 2rem var(--main-color);
}

.services-box:hover .certification-img {
    transform: scale(1.2);
    z-index: 1;
}

/* Estilos de la etiqueta p (párrafo) - Ahora siempre visible */
.services-box p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: 1rem; /* Espacio entre el título y el párrafo */
}
/* --- Sección del portafolio --- */

.recognition-box{

    background: var(--bg-color);
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    text-align:center;
    border: .2rem solid var(--bg-color);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;


}

.recognition-box:hover{
    border-color: var(--main-colore);
    transform: translateY(-1rem);
    box-shadow: 0 0 2rem var(--main-color);

}
.recognition-box .recognition-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.recognition-box .recognition-content h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    animation: color-change 5s infinite;
}

.recognition-box .recognition-content p{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    animation: color-change 5s infinite;


}






/* --- Sección del portafolio --- */
.portfolio {
    background: var(--second-bg-color);
    padding: 7rem 0;
}

.portfolio .heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
    color: var(--text-color);
}

.portfolio .heading span {
    color: var(--main-color);
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    aspect-ratio: 16 / 9;
}

.portfolio-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-layer h4 {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    color: var(--main-color);
    font-size: 2rem;
    text-decoration: none;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

/* --- CONTACTO --- */
.contact {
    min-height: auto;
    padding: 7rem 9% 2rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}



/*=== Estilo del Botón de Idioma (Responsivo) ===*/
.language-toggle-btn {
    /* Estilos base */
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 1001; /* Asegura que esté por encima de la barra de navegación */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    background: var(--main-color);
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 0 1rem var(--main-color);
    border: 4px solid var(--text-color);
}

/* Efecto al pasar el mouse */
.language-toggle-btn:hover {
    background: var(--second-bg-color);
    color: var(--main-color);
    transform: rotate(360deg) scale(1.1);
    box-shadow: 0 0 2rem var(--main-color);
    border-color: var(--main-color);
}

/* Reglas responsivas para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .language-toggle-btn {
        top: auto; /* Desactiva la posición superior */
        bottom: 2rem; /* Lo mueve a la parte inferior */
        right: 2rem;
        padding: 0.8rem 1.5rem; /* Reduce el tamaño */
        font-size: 1.4rem;
        box-shadow: 0 0 0.8rem var(--main-color);
    }
}





/* --- FOOTER --- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.lighbox-modal {

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items:center;
    z-index:1000;
    opacity:0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;



}

.lightbox-moda.active{

    opacity: 1;
    visibility: visible;

}
.lighbox-image{

    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    transform: scale(0.8);
    transition: transform 0.3s ease;

}
.lightbox-modal.active .lightbox-image{
    transform: scale(1);

}

.close-btn{


    position:absolute;
    top: 2rem;
    right: 3rem;
    color: #fff;
    font-size: 5rem;
    font-weight:bold;
    cursor:pointer;
    transition: color 0.3s ease;
    
}


.close-btn:hover{
    color:var(--main-color);
}


.home-content h3{
font-size: 3.2rem;
font-weight: 700;

}
.home_content h3:nth-of-type(2){

    margin-bottom: 2rem;


}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}
.home-content h3 span,
.home-content h1 span{
    color: var(--main-color);
}


.home-media a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;

}

.social-emdoia a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

/*==================== Estilo de la Sección de Curriculums ====================*/
/* Estilos para las imágenes de currículum (se adaptan al contenedor) */
.curriculum-img-es, .curriculum-img-en {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
}

/* Efecto al pasar el cursor sobre la caja del currículum */
.services-box:hover .curriculum-img-es, 
.services-box:hover .curriculum-img-en {
    transform: scale(1.05); /* Ligeramente más grande */
}

/* Estilos para el texto dentro de la sección de currículum */
/* (Opcional: Si quieres diferenciar el texto de esta sección) */
#curriculum .services-box h3 {
    color: var(--main-color);
    font-size: 2.2rem;
}

#curriculum .services-box p {
    font-size: 1.4rem;
    color: var(--text-color);
}


/* --- Media Queries --- */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services,
    .portfolio,
    .contact {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2,
    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact form .input-box {
        flex-direction: column;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .services-box img.certification-img {
        height: auto;
        max-width: 100%;
    }

    @media(max-width: 617px) {
        .portfolio-container {
            grid-template-columns: 1fr;
        }
    }

    @media(max-width: 450px) {
        html {
            font-size: 50%;
        }
    }

    @media(max-width: 365px) {
        .home-img img {
            width: 90vw;
            animation: floatImage 4s ease-in-out infinite;
        }

        @keyframes floatImage {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-2.4rem);
            }

            100% {
                transform: translateY(0);
            }
        }

        .about-img img {
            width: 90vw;
        }

        .footer {
            flex-direction: column-reverse;
        }

        .footer p {
            text-align: center;
            margin-top: 2rem;
        }
    }
}
/* Keyframes para la animación de cambio de color */
@keyframes color-change {
   
    100% {
        color: var(--main-color);
    }
}


@media(max-width: 768px){
    .language-toggle-btn{
        top:auto;/* deshabilita la posicion superior*/
        bottom: 2rem;
        right: 2rem;
        padding: 0.8rem 1.5rem;
        font-size: 1.4rem;
        box-shadow: 0 0 0.8rem var(--main-color);


    }
}